
.DS_Store
CleanArchitechture.xcodeproj/project.xcworkspace/xcuserdata/arc.xcuserdatad/UserInterfaceState.xcuserstate
CleanArchitechture.xcodeproj/project.xcworkspace/xcuserdata/arc.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
